<div class="row">
    <div class="col-md-12">
        <h3>Post Lists</h3>
        <div class="table table-striped" *ngIf="posts$ | async as PostsData">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description </th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let post of posts$ | async"> -->
                <tr *ngFor="let post of PostsData">
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.description }}</td>
                </tr>
            </tbody>
        </div>
    </div>
</div>